on:
  push:
    branches:
      - master
      - main
name: release-please
jobs:
  release-please:
    runs-on: ubuntu-22.04
    steps:
      - uses: google-github-actions/release-please-action@v3
        with:
          command: manifest
          package-name: release-please-action
